Repository aseratalahzan2009/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @geeknoid, @howardjohn, @linsun, @rshriram, @ozevren, @sdake, @mandarjog, @morvencao, @ostromart, @liamawhite, @nmittler, @esnible, @fisherxu, @irisdingbj, @douglas-reid, @kyessenov, @andraxylia, @diemtvu, @GregHanson, @hzxuzhonghu, @vadimeisenbergibm, @zackbutcher, @yangminzhu, @quanjielin, @ayj, @utka, @icygalz, @duderino, @frankbu, @venilnoronha, @incfly, @myidpt, @wattli, @bianpengyuan, @gargnupur, @JimmyCYJ, @liminw

CODEOWNERS:

# Defines owners for the repo. See https://help.github.com/en/articles/about-code-owners for details
# Note that later rules take precedence; owners of * will only be required for changes to directories without owners

*                                                              @costinm @geeknoid @howardjohn @linsun @rshriram
galley/                                                        @geeknoid @ozevren
install/                                                       @costinm @sdake @linsun @rshriram @howardjohn @mandarjog @morvencao @ostromart
istioctl/                                                      @ozevren @liamawhite @nmittler @esnible @fisherxu @irisdingbj
mixer/                                                         @douglas-reid @geeknoid @kyessenov @mandarjog
pilot/                                                         @andraxylia @costinm @diemtvu @GregHanson @hzxuzhonghu @nmittler @rshriram @vadimeisenbergibm @zackbutcher @howardjohn
pilot/pkg/networking/plugin/authn/                             @yangminzhu @andraxylia @costinm @diemtvu @GregHanson @hzxuzhonghu @nmittler @rshriram @vadimeisenbergibm @zackbutcher @howardjohn
pilot/pkg/networking/plugin/authz/                             @yangminzhu @andraxylia @costinm @diemtvu @GregHanson @hzxuzhonghu @nmittler @rshriram @vadimeisenbergibm @zackbutcher @howardjohn
pilot/pkg/networking/plugin/mixer/                             @kyessenov @douglas-reid @mandarjog @andraxylia @costinm @diemtvu @GregHanson @hzxuzhonghu @nmittler @rshriram @vadimeisenbergibm @zackbutcher @howardjohn
pilot/pkg/security/                                            @diemtvu @yangminzhu @quanjielin @andraxylia @costinm @GregHanson @hzxuzhonghu @nmittler @rshriram @vadimeisenbergibm @zackbutcher @howardjohn
pkg/                                                           @geeknoid @nmittler @ozevren
pkg/bootstrap/                                                 @mandarjog @costinm
pkg/mcp/                                                       @ozevren @ayj
prow/                                                          @utka @icygalz @linsun @duderino
release/                                                       @utka @icygalz @linsun @duderino
samples/                                                       @frankbu @kyessenov @rshriram @vadimeisenbergibm @venilnoronha
security/                                                      @diemtvu @incfly @myidpt @quanjielin @wattli
tests/                                                         @costinm @nmittler @utka @geeknoid @howardjohn @linsun @rshriram
tests/e2e/tests/pilot/                                         @andraxylia @costinm @diemtvu @GregHanson @hzxuzhonghu @nmittler @rshriram @vadimeisenbergibm @zackbutcher @howardjohn
tests/integration/                                             @nmittler @ozevren
tests/integration/conformance/                                 @nmittler @ozevren
tests/integration/framework/                                   @nmittler @ozevren
tests/integration/galley/                                      @geeknoid @ozevren
tests/integration/mixer/                                       @nmittler @ozevren @bianpengyuan @douglas-reid @gargnupur @geeknoid @kyessenov @mandarjog
tests/integration/pilot/                                       @nmittler @ozevren @andraxylia @costinm @rshriram @howardjohn
tests/integration/qualification/                               @nmittler @ozevren
tests/integration/security/                                    @nmittler @ozevren @diemtvu @incfly @myidpt @quanjielin @wattli @yangminzhu @JimmyCYJ
tests/integration/security/rbac/                               @nmittler @ozevren @diemtvu @incfly @myidpt @quanjielin @wattli @yangminzhu @JimmyCYJ @liminw
tools/                                                         @sdake @costinm @geeknoid @howardjohn @linsun @rshriram

WIP
  install/kubernetes/helm/istio/charts/pilot/templates/clusterrole.yaml
  pilot/pkg/features/pilot.go
  pilot/pkg/proxy/envoy/v2/eds.go
  pilot/pkg/serviceregistry/kube/controller/controller.go
  prow/config/endpointslice.yaml
Owners: @andraxylia, @costinm, @diemtvu, @GregHanson, @hzxuzhonghu, @nmittler, @rshriram, @vadimeisenbergibm, @zackbutcher, @howardjohn, @geeknoid, @ozevren, @utka, @icygalz, @linsun, @duderino

wip
  install/kubernetes/helm/istio/charts/galley/templates/service.yaml
  install/kubernetes/helm/istio/charts/gateways/values.yaml
  install/kubernetes/helm/istio/charts/pilot/templates/service.yaml
  install/kubernetes/helm/istio/templates/endpoints.yaml
  install/kubernetes/helm/istio/templates/service.yaml
  install/kubernetes/helm/istio/test-values/values-e2e.yaml
  pilot/pkg/serviceregistry/kube/controller/controller.go
Owners: @costinm, @sdake, @linsun, @rshriram, @howardjohn, @mandarjog, @morvencao, @ostromart, @andraxylia, @diemtvu, @GregHanson, @hzxuzhonghu, @nmittler, @vadimeisenbergibm, @zackbutcher, @geeknoid, @ozevren

Wip
  pilot/pkg/serviceregistry/kube/controller/controller.go
Owners: @geeknoid, @nmittler, @ozevren

Abstract out endpoint logic
  pilot/pkg/features/pilot.go
  pilot/pkg/proxy/envoy/v2/eds.go
  pilot/pkg/serviceregistry/kube/controller/controller.go
  pilot/pkg/serviceregistry/kube/controller/endpoints.go
  pilot/pkg/serviceregistry/kube/controller/pod_test.go
Owners: @geeknoid, @nmittler, @ozevren

Delete README.md
  README.md
Owners: @costinm, @geeknoid, @howardjohn, @linsun, @rshriram
