Repository aseratalahzan2009/istio, changes with the owners that CODEOWNERS names for each.
All owners: @costinm, @geeknoid, @howardjohn, @linsun, @rshriram, @douglas-reid, @mandarjog, @sdake, @ozevren, @morvencao, @ostromart, @cmluciano, @ayj, @liamawhite, @nmittler, @esnible, @fisherxu, @irisdingbj, @kyessenov, @qiwzhang, @JimmyCYJ, @lizan, @andraxylia, @diemtvu, @GregHanson, @hzxuzhonghu, @vadimeisenbergibm, @zackbutcher, @ijsnellf, @yangminzhu, @quanjielin, @utka, @icygalz, @duderino, @hklai, @rkpagadala, @frankbu, @venilnoronha, @incfly, @myidpt, @wattli, @gargnupur, @kimikowang, @m1093782566, @bianpengyuan, @liminw

CODEOWNERS:

# Defines owners for the repo. See https://help.github.com/en/articles/about-code-owners for details
# Note that later rules take precedence; owners of * will only be required for changes to directories without owners

*                                                              @costinm @geeknoid @howardjohn @linsun @rshriram
.circleci/                                                     @costinm @rshriram
bin/                                                           @costinm @douglas-reid @mandarjog @sdake
galley/                                                        @geeknoid @ozevren
install/                                                       @costinm @sdake @linsun @rshriram @howardjohn @mandarjog @morvencao @ostromart
install/kubernetes/helm/istio/charts/galley/                   @cmluciano @geeknoid @ozevren @ayj
install/kubernetes/helm/istio/charts/sidecarInjectorWebhook/   @ostromart
istioctl/                                                      @ozevren @liamawhite @nmittler @esnible @fisherxu @irisdingbj
mixer/                                                         @douglas-reid @geeknoid @kyessenov @mandarjog
mixer/test/client/                                             @qiwzhang @JimmyCYJ @kyessenov @lizan
pilot/                                                         @andraxylia @costinm @diemtvu @GregHanson @hzxuzhonghu @nmittler @rshriram @vadimeisenbergibm @zackbutcher @howardjohn
pilot/pkg/networking/                                          @costinm @GregHanson @ijsnellf @rshriram @zackbutcher @ostromart
pilot/pkg/networking/plugin/authn/                             @diemtvu @yangminzhu
pilot/pkg/networking/plugin/authz/                             @diemtvu @yangminzhu
pilot/pkg/networking/plugin/mixer/                             @kyessenov @douglas-reid @mandarjog
pilot/pkg/security/                                            @diemtvu @yangminzhu @quanjielin
pkg/                                                           @geeknoid @nmittler @ozevren
pkg/bootstrap/                                                 @mandarjog @costinm
pkg/mcp/                                                       @ozevren @ayj
prow/                                                          @utka @icygalz @linsun @duderino
release/                                                       @hklai @rkpagadala @utka
samples/                                                       @frankbu @kyessenov @rshriram @vadimeisenbergibm @venilnoronha
security/                                                      @diemtvu @incfly @myidpt @quanjielin @wattli
tests/                                                         @costinm @hklai @nmittler @utka
tests/e2e/local/                                               @gargnupur @kimikowang @hklai @JimmyCYJ @m1093782566
tests/e2e/tests/pilot/                                         @andraxylia @costinm @GregHanson @hzxuzhonghu @ijsnellf @nmittler @rshriram @vadimeisenbergibm @zackbutcher
tests/integration/                                             @nmittler @ozevren
tests/integration/conformance/                                 @nmittler @ozevren
tests/integration/framework/                                   @nmittler @ozevren
tests/integration/galley/                                      @geeknoid @ozevren
tests/integration/mixer/                                       @bianpengyuan @douglas-reid @gargnupur @geeknoid @kyessenov @mandarjog
tests/integration/pilot/                                       @andraxylia @costinm @nmittler @rshriram
tests/integration/qualification/                               @nmittler
tests/integration/security/                                    @diemtvu @incfly @myidpt @quanjielin @wattli @yangminzhu @JimmyCYJ
tests/integration/security/rbac/                               @yangminzhu @liminw
tools/                                                         @sdake

WIP
  install/kubernetes/helm/istio/charts/pilot/templates/clusterrole.yaml
  pilot/pkg/features/pilot.go
  pilot/pkg/proxy/envoy/v2/eds.go
  pilot/pkg/serviceregistry/kube/controller/controller.go
  prow/config/endpointslice.yaml
Owners: @andraxylia, @costinm, @diemtvu, @GregHanson, @hzxuzhonghu, @nmittler, @rshriram, @vadimeisenbergibm, @zackbutcher, @howardjohn, @geeknoid, @ozevren, @utka, @icygalz, @linsun, @duderino

wip
  install/kubernetes/helm/istio/charts/galley/templates/service.yaml
  install/kubernetes/helm/istio/charts/gateways/values.yaml
  install/kubernetes/helm/istio/charts/pilot/templates/service.yaml
  install/kubernetes/helm/istio/templates/endpoints.yaml
  install/kubernetes/helm/istio/templates/service.yaml
  install/kubernetes/helm/istio/test-values/values-e2e.yaml
  pilot/pkg/serviceregistry/kube/controller/controller.go
Owners: @cmluciano, @geeknoid, @ozevren, @ayj, @costinm, @sdake, @linsun, @rshriram, @howardjohn, @mandarjog, @morvencao, @ostromart, @andraxylia, @diemtvu, @GregHanson, @hzxuzhonghu, @nmittler, @vadimeisenbergibm, @zackbutcher

Wip
  pilot/pkg/serviceregistry/kube/controller/controller.go
Owners: @geeknoid, @nmittler, @ozevren

Abstract out endpoint logic
  pilot/pkg/features/pilot.go
  pilot/pkg/proxy/envoy/v2/eds.go
  pilot/pkg/serviceregistry/kube/controller/controller.go
  pilot/pkg/serviceregistry/kube/controller/endpoints.go
  pilot/pkg/serviceregistry/kube/controller/pod_test.go
Owners: @geeknoid, @nmittler, @ozevren

Delete README.md
  README.md
Owners: @costinm, @geeknoid, @howardjohn, @linsun, @rshriram
